<!doctype html>
<title>Change Password</title>
<link rel="stylesheet" href="{{ url_for('static', filename='arena_setup.css') }}">
<style>
    body {
        background-color: #dce6f1; /* Light greyish blue */
        font-family: Arial, sans-serif;
        margin: 0;
    }
</style>
<div class="banner" style="display: flex; width: 100%; height: 50px; background-color: #333; color: white; align-items: center;">
    <div class="banner-section" style="flex: 1; text-align: center; cursor: pointer;" onclick="window.location.href='/main_landing'" title="Back to Home">Home</div>
    <div class="banner-section" style="flex: 1; text-align: center; cursor: pointer;" onclick="window.location.href='/logout'">Logout</div>
</div>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 90vh; margin-top: 0px; text-align: center;">
    <h1>Change Password Page</h1>
    <p>Change your password:</p>
    <form method="post">
        <label for="old_password">Old Password:</label>
        <input type="password" id="old_password" name="old_password"><br><br>
        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password"><br><br>
        <input type="submit" value="Change Password">
    </form>
</div>
